*{
  margin: 0;
}

body{
  background-color: rgb(238, 238, 238);
}

.App{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.app__left{
  flex: 0.9;
}
.app__header{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.app__dropdown{
  background-color: white;
}
.app__infobox{
  display: flex;
  justify-content: space-around;
}

.box1{
  margin: 50px;
}
.box2{
  margin: 50px;
}

@media (max-width : 890px){
  .App{
    flex-direction: column;
  }
}